
body, html {
    height: 100%;
    background-color: black;
}

header {
    font-family: 'Orbitron', sans-serif;
    font-size: 40px;
    color: sienna;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    text-align: center;
    padding-top: 10px;
}

nav {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.imageHomePage {
    padding-top: 27px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.homePageDescription {
    padding-top: 20px;
}

.homePageNameH3 {
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    color: rgb(239, 196, 159);
}

h3 {
    font-family: 'Orbitron', sans-serif;
    color: sienna;
    text-align: center;
}

li {
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    color: rgb(239, 196, 159);
}

.homePageParagraph {
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    color: rgb(239, 196, 159);
    padding-top: 20px;
}

.aboutParagraph {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    color: rgb(239, 196, 159);
}

.contactForm {
    font-family: 'Orbitron', sans-serif;
    color: sienna;
}

.picturesContainer {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.drumPadContainer {
    display: inline;
    padding-left: 30px;
}

.drumPads {
    width: 25%;
    height: 15%;
    background-color: sienna;
}

button {
    font-family: 'Orbitron', sans-serif;
    color: rgb(239, 196, 159);
    background-color: black;
    border-color: rgb(239, 196, 159);
}

section {
    color: sienna;
    font-family: 'Orbitron', sans-serif;
}

hr {
    border-color: rgb(215, 168, 146);
}


footer {
    font-family: 'Orbitron', sans-serif;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: sienna;
    text-align: center;
}

